<!-- Musical Content Descriptions for a Segment -->
{% for instrument_index, part_descriptions in segment.selected_instruments_descriptions.items %}
    <div class="instrument-description" role="region" 
         aria-labelledby="instrument-desc-{{ instrument_index }}-{{ segment.start_bar }}">
        
        {% if segment.selected_instruments_descriptions|length > 1 %}
            <h3 id="instrument-desc-{{ instrument_index }}-{{ segment.start_bar }}">
                {{ instruments[instrument_index][0] }}
            </h3>
        {% endif %}
        
        {% for part_description in part_descriptions %}
            {% set part_index = forloop.counter0 %}
            
            {% if part_descriptions|length > 1 %}
                <h4 id="part-desc-{{ instrument_index }}-{{ part_index }}-{{ segment.start_bar }}">
                    {{ part_names[instruments[instrument_index][1] + part_index] }}
                </h4>
            {% endif %}

            {% include 'partials/bar_descriptions.html' %}
        {% endfor %}
    </div>
{% endfor %}