{% extends "base_site.html" %}
{% load static %}

{% block title %}Contact Us - Talking Scores{% endblock %}
{% block meta-description %}We welcome your comments / questions / bug reports - Talking Scores - an open source project to convert MusicXML files to a spoken representation.{% endblock %}

{% block content %}
<div class="contact-page">
    <header class="page-header">
        <h1>Talking Scores</h1>
        <h2>Contact Us</h2>
    </header>

    <div class="col-md-11 mx-auto text-start">
        <section class="contact-intro">
            <p class="tsp">Please do feel free to contact us with questions / bug reports / feature requests etc - or even just to let us know if you find this project useful! It is encouraging to hear from users - thank you!</p>

            <div class="contact-details">
                <p class="tsp">Our email address is <a href="mailto:talkingscores@gmail.com">talkingscores@gmail.com</a></p>
            </div>
        </section>

        <section class="privacy-notice">
            <h3>Privacy Information</h3>
            <p class="tsp">If you choose to contact us, we will try to reply in a timely manner. We will most likely contact you again, some time later, when we have addressed your question more fully.</p>
            <p class="tsp">We will not pass your contact details on to anyone else or use them for any other purpose. For more information - see our <a href="/privacy-policy">Privacy Policy</a>.</p>
        </section>
    </div>
</div>
{% endblock content %}