{% extends "base_site.html" %}
{% load static %}

{% block title %}Privacy Policy - Talking Scores{% endblock %}
{% block noindex %}<meta name="robots" content="noindex" />{% endblock %}

{% block content %}
<div class="privacy-policy-page">
    <header class="page-header">
        <h1>Privacy Policy</h1>
    </header>

    <div class="col-md-11 mx-auto text-start">
        <section class="privacy-main-section">
            <p class="tsp">
                This is an open source project - currently undertaken by a very small team; working in our spare time. The code running on this site will be fairly close to the code on Github - but there may be some differences due to testing / configuration etc.
            </p>
        </section>

        <section class="privacy-communication-section">
            <h2>Communication</h2>
            <p class="tsp">
                We welcome comments / suggestions / bug reports etc - it is encouraging to hear from users - thank you. If you choose to contact us, we will try to reply in a timely manner. We will most likely contact you again, some time later, when we have addressed the particular issue.<br>
                We will not pass your contact details on to anyone else or use them for any other purpose.<br>
                However, we may:
            </p>
            <ul>
                <li>Discuss your enquiry (not you, just your enquiry) with other individuals / organisations.</li>
                <li>Publish your enquiry (again, not you, just your enquiry), or aspects of it - for example as part of a Frequently Asked Questions page.</li>
                <li>Suggest other individuals / organisations / software that might be able to assist with your enquiry.</li>
            </ul>
        </section>

        <section class="privacy-uploaded-files-section">
            <h2>Uploaded files</h2>
            <p class="tsp">
                Any files you upload / send us will only be used to produce Talking Scores.<br>
                Your musicxml file (and the talking scores output) will never be shared with any third party.<br>
                However, your musicxml file (or the talking scores output) may be accessed by us - in order to resolve issues or during development / testing / maintenance.
            </p>
        </section>

        <section class="privacy-analytics-section">
            <h2>Google Analytics</h2>
            <p class="tsp">
                This website uses Google Analytics to give us an idea of how many users the website has / how long they use it for / what pages they view etc.<br>
                The HTML output of a Talking Score does not include Google Analytics code - thus the scores are not tracked. This website uses robots.txt and noindex to inform search engines that completed scores should not be indexed.
            </p>
        </section>

        <section class="privacy-search-console-section">
            <h2>Google Search Console</h2>
            <p class="tsp">
                This website uses Google Search Console to give us an idea of how it appears in searches on Google.
            </p>
        </section>

        <section class="privacy-cookies-section">
            <h2>Cookies</h2>
            <p class="tsp">
                This website uses the following cookies:
            </p>
            <ul>
                <li>'_ga', '_gid', '_gat_gtag_' - used by Google Analytics.</li>
                <li>'csrftoken' - helps to prevent Cross Site Request Forgery.</li>
            </ul>
        </section>

        <section class="privacy-security-section">
            <h2>Security</h2>
            <p class="tsp">
                We will endeavour to keep this website and its related communications secure. We do this by considering the tools and processes we use, along with the libraries we build upon and code we write.<br>
                But despite our best efforts, we cannot guarantee that the files you upload nor your communications with us will not be accessed by others.
            </p>
        </section>
    </div>
</div>
{% endblock content %}