<p class="tsp" style="font-style:italic; padding-left:50px;">
    <b>Bar 1:</b> <br>
    Time signature - 1 of 1 is 4 4. <br>
    Key signature - 1 of 1 is 2 sharps. <br> <br>

    Beat 1: crotchet high D . <br>
    Beat 2: quaver rest , mid A . <br>
    Beat 3: crotchet high D . <br>
    Beat 4: quaver rest , mid A . <br> <br>

    <b>Bar 2: </b> <br>
    Beat 1: quaver high D , mid A . <br>
    Beat 2: quaver high D , F . <br>
    Beat 3: crotchet high A . <br>
    Beat 4: crotchet rest . <br>
</p>

<p class="tsp">End of Extract...</p>

<p class="tsp">Producing a talking score manually can be time consuming, is often not a straightforward process and may require aspects tailored to individual musicians.</p>  

<p class="tsp">This website can automatically produce a talking score from a MusicXML file.  It will produce a representation of the score as text (well formatted HTML), along with audio for the music; but you will need to use a screen reader to get the "talking" aspect of the Talking Score.</p> 
    
<p class="tsp">This website also attempts to replicate some of the benefits of print music - ie the ease of navigation and freedom to choose what aspects are important to you as you progress through learning the score.  For example, the talking score begins with a summary that highlights what might "jump out" from a printed score - eg key changes / repeated sections / common rhythms etc.  You can change which parts (ie instruments) are played or described and other aspects such as section length.  The formatting allows for easy screen reader navigation between sections / bars / parts etc.  You can also customise how various aspects of the score are described - eg when to announce the octave and whether to use octave numbers or words.  </p>

<p class="tsp">This is an <a href="https://github.com/bentimms/talkingscores" target="_blank">open source project</a> - currently undertaken by a very small team; working in our spare time.  It is a work in progress and therefore may not always work correctly.  Please see the <a href="/change-log">Change Log</a> for latest updates or <a href="/contact-us">contact us</a> with questions / problems / feature requests etc. </p>